.tilt-opacity{
    transform: rotate(180deg);
    position: fixed;
    bottom: 0;
    pointer-events: none;
}
html{
    background: #1D1D1D;
}
main{
    background: #1D1D1D;
}
body{
    background: #1D1D1D !important; 
}
*{
    font-family: 'Caskaydia Code';
}